.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.left {
    display: flex;
    align-items: center;
}

.header .left img.logo {
    width: 100px;
    margin-left: 20px;
}

.center {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid #999;
}

.center input {
    flex: 1;
    border: none;
    padding: 3px 6px;
}

.center .search-icon {
    width: 40px;
    color: #999;
    border-left: 1px solid #999;
    padding: 3px 0;
    background-color: #f4f4f4;
}

.right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right .right-item {
    margin-left: 10px;
}

.header .right img.avatar {
    width: 35px;
    border-radius: 50%;
}